<template>
	<div id="seenenough" class="container-fluid py-5 position-relative z-2 mob-px-4 text-center text-lg-left">
		<picture>
      <source srcset="/img/graphics/seenenough.webp" type="image/webp"/> 
      <source srcset="/img/graphics/seenenough.png" type="image/png"/> 
      <img src="/img/graphics/seenenough.png" type="image/png" alt="The Growth Company seen enough" width="1215" height="879" class="seenenoughimg h-auto"/>
    </picture>
		<div class="row py-5 mob-py-0 my-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="d-table w-100 h-100">
							<div class="d-table-cell align-middle w-100 h-100 text-lg-left">
								<p class="mimic-h2 mb-3" v-html="title"></p>
								<p class="mb-4 text-large" v-if="sentence" v-html="sentence"></p>
								<div class="mb-4" v-else></div>
								<a :href="link">
									<button class="btn btn-primary btn-icon">{{btntext}} <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			title: String,
			sentence: String,
			link: String,
			btntext: String,
			img: String,
		},
	}
</script>
<style lang="scss">
	#seenenough{
		min-height: 592px;
		.seenenoughimg{
			position: absolute;
			left: 40%;
			top: 0;
		}
	}
	@media only screen and (max-width : 768px){
		#seenenough{
			min-height: 472px;
			.seenenoughimg{
				height: 100vh !important;
    		width: auto;
    		left: -10%;
			}
		}
	}
</style>