<template>
  <div class="container pt-3 ">
    <div class="row pb-5 mob-py-0" v-if="posts.length > 0">
      <div class="col-lg-4 mob-mb-4" v-for="post in posts">
        <div class="card bg-primary text-white px-0 py-0 overflow-hidden">
          <picture>
            <source :srcset="post.featuredwebp" type="image/webp"/> 
            <source :srcset="post.featured" :type="post.mimetype"/> 
            <img :src="post.featured" :type="post.mimetype" :alt="post.title" class="lazy w-100 h-auto" width="460" height="322" />
          </picture>
          <div class="p-4">
            <p class="text-small mb-2"><b>{{niceDate(post.created_at)}}</b></p>
            <p class="text-large mb-2 line-height-1-3"><b>{{post.title}}</b></p>
            <p class=" mb-3 text-small">{{post.excerpt.substring(0, 125)}}...</p>
            <p class="mb-0"><a :href="'/blog/' +moment(post.created_at) +'/'+ post.slug"><b>Read Article</b> <i class="fa fa-angle-double-right"></i></a></p>
          </div>
        </div>
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6">
        <h3 class="mb-0">Sorry no results found</h3>
        <p>Sorry, there are no news articles available at the moment. Please check again later!</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      posts: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  h4.post-title{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: none;
  }
  p.read-more-news{
    font-size: 1.2rem;
    a{
      color: #265CC0;
    }
  }
  .news-title-top{
    font-weight: 300;
    line-height: 1;
    font-size: 1.5rem;
    font-family: Tungsten, sans-serif;
    text-transform: uppercase;
    color: #1D252D;
    margin-bottom: 5px;
  }
  @media only screen and (max-width: 767px){
    p.read-more-news{
      font-size: 7.5vw;
    }
  }
</style>