.no-webp{
	.bg-test{
		background-image: url('/img/graphics/globe-2.jpg');
	}
}
.webp{
	.bg-test{
		background-image: url('/img/graphics/globe-2.webp');
	}
}
.bg{
	@include background();
}
.bg-grad{
	background: rgb(38,92,192);
	background: linear-gradient(0deg, rgba(38,92,192,0.87718837535014) 0%, rgba(38,92,192,1) 100%);
}
.bg-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.bg-left{
	position: absolute;
	left: -200px;
	top: -50px;
}