.btn{
	display: block;
	border-radius: 5px;
	font-family: $title;
	border:0 !important;
	display: inline-block;
	position: relative;
	width: auto;
	height: 50px;
	font-size: 1rem;
	font-weight: 600;
	padding: 13px 20px;
	min-width: 214px;
	cursor: pointer;
	@include transition(300ms);
	&.w-100{
		max-width: 100000px;
	}
	&:hover{
		transform: scale(1.02);
	}
	&.btn-icon{
		text-align: left !important;
		i{
			position: absolute;
			right: 15px;
			top: 17px;
			font-size: 1.3rem;
			@include transition(300ms);
			&.custom-icon{
  			width: 1.3rem;
  			height: 1.3rem;
  			top: 22px;
  			background-size: contain;
  			background-repeat: no-repeat;
  		}
		}
		&:hover{
			transform: none !important;
			i{
				right: 10px;
			}
		}
	}
}
.btn-primary{
	background-color: $primary;
	color: $white;
	&:hover{
		background-color: $primary;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-white{
	background-color: $white;
	color: $darkgrey;
	&:hover{
		background-color: $white;
		color: $darkgrey !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $darkgrey;
	}
}
@media only screen and (max-width : 1024px) and (hover: none){
	.btn{
		width: 100%;
		height: 60px;
		font-size: 1.6rem;
		font-weight: 600;
		padding: 13px 20px;
		max-width: 262px;
		min-width: 262px;
	}
}
@media only screen and (max-width : 767px) and (hover: none){
	.btn{
    max-width: 220px;
    min-width: 220px;
    padding: 10px 15px;
    height: 50px;
    font-size: 22px;
	}
}