#app{
	min-height: 100vh;
	&.admin{
		padding-top: 95px;
	}
}
.overflow-x-hidden{
	overflow-x: hidden;
	overflow-y: visible;
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.z-3{
	z-index: 3;
}
.z-100{
	z-index: 3;
}
.list-style-none{
	list-style: none;
}
.card{
	border-radius:5px;
	border: 0;
	@include boxShadow();
}
.full-height{
	height: 100vh;
}
.line{
	height: 4px;
	display: block;
	position: relative;
	span{
		width: 60px;
		height: 4px;
		background-color: $white;
		display: block;
		margin: auto;
	}
	&.line-primary{
		span{
			background-color: $primary;
		}
	}
}
.modal{
	background-color: rgba(2,105,221, 0.8);
	text-align: center;
	z-index: 1500;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.trans{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $transgrey;
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
.blog-body{
	font-size: 1.1rem;
	img{
		max-width: 100%;
	}
	p{
		margin-bottom: 0;
	}
	strong{

	}
	blockquote{
		background-color: transparent;
		color: $black;
    padding: 1rem;
    font-style: none;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 1.3;
    border-left: 2px solid #000;
	}
	h2{
		margin-bottom: 0;
	}
}
.mw-100{
	max-width: 100vw !important;
}
#map{
	position: absolute;
	top: 100px;
	right: 0;
	width: 45vw;
	height: calc(100vh - 100px);
}
.shadow{
	@include boxShadow();
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
.mob-bulb{
	position: absolute;
  top: -100px;
  left: 0;
  opacity: 0.3;
  z-index: 0;
  width: 100%;
}
.mob-bulb-2{
  position: absolute;
  top: -170px;
  left: 0;
  opacity: 0.3;
  z-index: 0;
  width: 100%;
}
.mob-hands{
  position: absolute;
  top: 210px;
  left: 0;
  width: 100%;
  opacity: 0.4;
  z-index: 0;
}
.mob-hands-2{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  opacity: 0.4;
  z-index: 0;
}
.mob-socialselling{
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  opacity: 0.6;
  z-index: 0;
}
.mob-socialselling-2{
	position: absolute;
  top: -120px;
  left: 0;
  width: 100%;
  opacity: 0.6;
  z-index: 0;
}
.mob-team{
	position: absolute;
  top: 13vw;
  left: 0;
  width: 100%;
  opacity: 0.3;
  z-index: 0;
}
.mob-team-2{
	position: absolute;
	top:-7vw;
	left: 0;
  width: 100%;
  opacity: 0.3;
  z-index: 0;
}
.uk-ireland{
  position: absolute;
  top: -280px;
  left: auto;
  right: -120px;
  opacity: 0.25;
  z-index: 0;
  width: 610px;
}
.mob-socialmedia{
	position: absolute;
  top: -11vw;
  left: 1rem;
  width: 100%;
  opacity: 0.3;
  z-index: 0;
}
.hands{
  margin-top: -140px;
  width: 600px;
  margin-left: -70px;
}
.socialmedia{
  margin-top: -80px;
  width: 600px;
  margin-right: -100px;
  margin-left: auto;
  display: block;
}
.bulb{
  width: 460px;
  position: absolute;
  top: -50px;
  left: auto;
  right: 0;
}
hr{
	border-top: 1px solid $primary;
}