// Fonts --------------------

$title: objektiv-mk1, sans-serif;
$body: roboto, sans-serif;
$fancy: roboto, sans-serif;

// Body
$body-bg: #040F17;

// Typography
$font-family-sans-serif: roboto, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0269DD;
$lightblue: #97C9EB;
$indigo: #6574cd;
$purple: #9254DB;
$pink: #F4406D;
$red: #E73C62;
$orange: #FF7141;
$yellow: #FFCB00;
$green: #5CCC4A;
$darkgreen: #42872c;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$formgrey: #757575;

// Colours -----------------
$primary: #0082B9; 
$primarylight: #03a8ed;
$primarydark: #045374;
$second: #97C9EB;
$white: #fff;
$black: #000;
$navy: #0037D2;
$lightnavy: #465966;
$darknavy: #434343;
$darkgrey: #1D252D;
$midgrey: #6b6b6b;
$lightbg: #FAFAFA;
$lightgrey: #FAFAFA;
$grey: #1D252D;
$bluegrey: #A8B1B7;
$highlight: #FF6A6A;
$mastercard: #FF4D2D;
$visa: #283891;

$transgreylight: rgba(12,29,45,0.4);
$transgrey: rgba(12,29,45,0.4);
$transgreydark: rgba(12,29,45,0.8);
$transwhite: rgba(255,255,255,0.6);
$transblue: rgba(0,0,0,0.32);
$transbluelight: rgba(26,126,244,0.2);
$transbluedark: rgba(38,60,75,0.9);
$transred: rgba(224,38,28,0.8);
$transdark: rgba(19,22,41,0.3);