<style lang="scss">
  .search-form{
    margin-top: -50px;
  }
</style>
<template>
  <div class="container position-relative z-2 mb-5 pb-5 mob-mb-0 mob-px-4">
    <div class="row">
      <case-studies-select @input="changeCategory" :options="categories" :default="'All Case Studies'"></case-studies-select>
    </div>
    <div class="row mt-5">
      <case-studies-show :posts="posts" :loadmore="loadmore" @loadmore="loadMore()"></case-studies-show>
    </div>
  </div>  
</template>
<script>
  const CaseStudiesSelect = () => import(/* webpackChunkName: "CaseStudiesSelect" */ './CaseStudiesSelect.vue');
export default {
  props: {
    categories: Array,
  },
  components:{
    CaseStudiesSelect
  },
  watch:{
    category: function(val){
      this.changeCategory(val);
    },
  },
  data() {
    return {
      category: '*',
      errors: {},
      success: false,
      loaded: true,
      posts: [],
      limit: 8,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getPosts();
  },
  methods: {
    changeCategory(val){
      this.category = val;
      this.getPosts();
    },
    loadMore(){
      this.page++;
      this.morePosts();
    },
    morePosts(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/case-studies/get?limit=' + this.limit + '&page=' + page + '&category=' + this.category).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.posts.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
    getPosts(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/case-studies/get?limit=' + this.limit + '&page=' + page + '&category=' + this.category).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.posts = response.data.data;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>