:root {
    --transparent: transparent;
    --black: #040F17;
    --white: white;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #e74444;
    --success: #21b978;
    --warning: #FBDC64;
    --info: #03a9f4;
    --primary: #0082B9;
    --primary-dark: #00567B;
    --primary-70: rgba(216, 39, 55, 0.7);
    --primary-50: rgba(216, 39, 55, 0.5);
    --primary-30: rgba(216, 39, 55, 0.3);
    --primary-10: rgba(216, 39, 55, 0.1);
    --logo: ;
    --sidebar-icon: #b3c1d1;
    --20: rgb(238, 241, 244);
    --30: rgb(207, 215, 224);
    --40: rgb(176, 190, 204);
    --50: rgb(145, 164, 184);
    --60: rgb(114, 139, 164);
    --70: rgb(89, 113, 138);
    --80: rgb(69, 88, 107);
    --90: rgb(49, 62, 76);
    --90-half: rgba(40, 54, 61, 0.5);
}

.bg-grad-sidebar {
  background-color: #040F17;
  background-image: none !important;
}

.bg-40{
  background-color: #f2f2f2;
}
.form-global-search{
  background-color: #fff;
  border: 2px solid rgba(40, 54, 61, 1);
}

body.bg-40.text-black.h-full{
  background-color: #040F17;
}

a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
  font-size: 0px !important;
    padding: 0px !important;
    height: 0px !important;
    position: fixed;
    top: -5000vh;
}
.fr-element.fr-view{
    min-height: 300px !important;
}
#fr-logo{
    display: none !important;
}