<template>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/gibsonbros.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/gibsonbros.png" type="image/png"/> 
					<img src="/img/logos/clients/gibsonbros.png" type="image/png" alt="gibsonbros logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/hutchinsonengineering.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/hutchinsonengineering.png" type="image/png"/> 
					<img src="/img/logos/clients/hutchinsonengineering.png" type="image/png" alt="hutchinsonengineering logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/elite.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/elite.png" type="image/png"/> 
					<img src="/img/logos/clients/elite.png" type="image/png" alt="elite logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/lough-tec.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/lough-tec.png" type="image/png"/> 
					<img src="/img/logos/clients/lough-tec.png" type="image/png" alt="lough-tec logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/ashview-consultants.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/ashview-consultants.png" type="image/png"/> 
					<img src="/img/logos/clients/ashview-consultants.png" type="image/png" alt="ashview-consultants logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3 d-none d-lg-block">
				<picture>
					<source srcset="/img/logos/clients/joseph-murphy.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/joseph-murphy.png" type="image/png"/> 
					<img src="/img/logos/clients/joseph-murphy.png" type="image/png" alt="joseph murphy logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/pfp-wealth.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/pfp-wealth.png" type="image/png"/> 
					<img src="/img/logos/clients/pfp-wealth.png" type="image/png" alt="pfp-wealth logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/DigiTally.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/DigiTally.png" type="image/png"/> 
					<img src="/img/logos/clients/DigiTally.png" type="image/png" alt="DigiTally logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/andrewingredients.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/andrewingredients.png" type="image/png"/> 
					<img src="/img/logos/clients/andrewingredients.png" type="image/png" alt="Andrew Ingredients logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/pocket-box.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/pocket-box.png" type="image/png"/> 
					<img src="/img/logos/clients/pocket-box.png" type="image/png" alt="pocket-box logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/lawplus.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/lawplus.png" type="image/png"/> 
					<img src="/img/logos/clients/lawplus.png" type="image/png" alt="law plus logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/ids.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/ids.png" type="image/png"/> 
					<img src="/img/logos/clients/ids.png" type="image/png" alt="irish drain services logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/delilites.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/delilites.png" type="image/png"/> 
					<img src="/img/logos/clients/delilites.png" type="image/png" alt="delilites logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/tysonwilson.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/tysonwilson.png" type="image/png"/> 
					<img src="/img/logos/clients/tysonwilson.png" type="image/png" alt="tysonwilson logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
			<div class="col-4 col-lg px-4 mb-5 mob-mb-3">
				<picture>
					<source srcset="/img/logos/clients/thinkpeople.webp" type="image/webp"/> 
					<source srcset="/img/logos/clients/thinkpeople.png" type="image/png"/> 
					<img src="/img/logos/clients/thinkpeople.png" type="image/png" alt="thinkpeople logo" width="200" height="110" class="lazy mx-auto w-100 h-auto"/>
				</picture>
			</div>
		</div>
	</div>
</template>