<template>
  <footer class="container-fluid text-center text-lg-left position-relative z-2 ">
    <div class="position-relative row mob-mt-0 mob-pt-3 ipadp-pt-0 ipadp-mt-0">
      <div class="container pb-5">
        <div class="row mt-5 pt-5 ipadp-pt-0  mob-py-0 mob-mt-0">
          <div class="col-lg-4 pr-5 mob-px-5 mob-mt-4 mob-mb-3">
            <img src="/img/logos/logo.svg" class="footer-logo h-auto mt-2" width="279" height="65" alt="The Growth Company Logo"/>
            <p class="text-center mt-3">
              <a href="https://www.linkedin.com/company/thegrowthcompanyie/" target="_blank" aria-label="LinkedIn" rel="noreferrer"><i class="fa fa-linkedin ml-3 pl-2 mob-mx-0"></i></a>
              <a href="https://www.facebook.com/thegrowthcompanyie" aria-label="Facebook" rel="noreferrer"><i class="fa fa-facebook ml-3"></i></a>
              <a href="https://www.instagram.com/thegrowthcompanyie/" aria-label="Instagram" rel="noreferrer"><i class="fa fa-instagram ml-3"></i></a>
              <a href="https://twitter.com/growthcompanyie" aria-label="Twitter" rel="noreferrer"><i class="fa fa-twitter ml-3"></i></a>
            </p>
          </div>
          <div class="col-lg-5 d-none d-lg-block">
            <p class="text-large"><b>Links</b></p>
            <div class="row text-center text-lg-left mob-mb-5">
              <div class="col-lg-5">
                <p><a href="/">Home</a></p>
                <p><a href="/services">Services</a></p>
                <p><a href="/case-studies">Case Studies</a></p>
              </div>
              <div class="col-lg-7">
                <p><a href="/about">About</a></p>
                <p><a href="/blog">Blog</a></p>
                <p><a href="/contact">Contact</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <p class="text-large d-none d-lg-block"><b>Get in touch</b></p>
            <p><a href="mailto:hello@thegrowthcompany.ie"><i class="fa fa-envelope-o mr-1"></i> hello@thegrowthcompany.ie</a></p>
            <p><a href="tel:00447512685946"><i class="fa fa-phone mr-1"></i> +44 (0) 7512 685 946</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer-bottom text-center position-relative z-2 text-white">
      <div class="container pb-4">
        <div class="border-top mb-4"></div>
        <div class="row">
          <div class="col-lg-4 text-center text-lg-left">
            <p class="text-smallest mb-0 mob-mb-2 mob-mt-2"><a href="/terms-and-conditions">Terms & Conditions</a> &nbsp;|&nbsp; <a href="/privacy-policy">Privacy Policy</a></p>
          </div>
          <div class="col-lg-8 text-center text-lg-right">
            <p class="text-smallest mb-0">&copy;<span id="year"></span> The Growth Company, All Rights Reserved<span class="d-none d-md-inline"> &nbsp;|&nbsp; </span><br class="d-md-none"/><a href="https://elementseven.co" target="_blank" aria-label="Element Seven Digital Limited" rel="noreferrer">Website by Element Seven</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
    export default {
      mounted(){
        document.getElementById("year").innerHTML = new Date().getFullYear();
      }
    }
</script>
<style lang="scss">
  footer{
    a{
      cursor: pointer;
      color: #ffffff;
      &:hover{
        color: #0082B9;
      }
    }
    p{
      font-size: 1.0rem;
    }
    .footer-social{
      font-size: 25px;
    }
    .footer-logo{
      width:100%;
      max-width: 279px;
    }
    .footer-bottom{
      .border-top{
        border-top: 1px solid #0082B9 !important;
      }
    }
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
      footer{
      p{
        &.text-smallest{
          font-size: 16px;
        }
      }
      .mob-line-height{
        font-size: 16px;
        line-height: 2.5;
      }
      .footer-bg{
        left: calc(50% - 410px);
        bottom: 0;
        width: 850px;
      }
    }
  }
  @media only screen and (max-width : 767px){
    footer{
      p{
        &.text-smallest{
          font-size: 3vw;
        }
      }
      .mob-line-height{
        font-size: 3.5vw;
        line-height: 2.5;
      }
    }
  }
</style>