<template>
	<div class="mailing-list-signup">
		<form id="mailinglist-signup" @submit.prevent="submit" class="text-left">
			<div class="form-group position-relative">
				<input id="ml-email" type="email" class="form-control w-100" name="email" placeholder="Email Address*" v-model="fields.email"/>
				<button type="submit" class="btn-input"><i class="fa fa-paper-plane"></i></button>
				<div v-if="errors && errors.email" class="text-dark">{{ errors.email[0] }}</div>
			</div>
		</form>
		<p class="text-smallest mt-0 mb-0">*By subscribing you are agreeing to receive emails from us.</p>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				fields: {
					email: ""
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods: {
			messageSent(){
        this.fields = {};
      },
      submit() {
      	if (this.loaded) {
      		$('#recaptcha-error').html('');
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Joining";

      		axios.post('/mailinglist', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Mailing list joined successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	        })
      		.catch(error => {
	         // Error handling
	         console.log(error.response);
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>
<style lang="scss">
	.mailing-list-signup{
		p.mimic-h3{
			line-height: 1;
			font-size: 3rem;
			font-weight: 700;
		}
		.form-group{
			border: 1px solid #000;
			overflow: hidden;
			border-radius: 5px;
		}
		input{
			height: 60px !important;
			border: 0;
			background-color: #fff !important;
		}
		button.btn-input{
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 60px;
			border:0 !important;
			background-color: #0082B9;
			color: #fff;
		}
	}
	@media only screen and (max-width : 767px){
		.mailing-list-signup{
			p.mimic-h3{
				font-size: 8vw;
			}
			input{
				height: 50px !important;
			}
			
		}
	}
</style>