<template>
	<div class="container">
		<div class="row d-none d-lg-flex">
			<div class="col-lg-4">
				<div class="card testimonial-card bg-primary p-4 text-center">
					<picture>
						<source srcset="/img/testimonials/petergregory.webp" type="image/webp"/> 
						<source srcset="/img/testimonials/petergregory.png" type="image/png"/> 
						<img src="/img/testimonials/petergregory.png" type="image/png" alt="Peter Gregory - The Growth Company testimonial image" width="136" height="136" class="lazy"/>
					</picture>
					<p class="text-large mb-0 mt-3"><b>Peter Gregory</b></p>
					<div class="line my-2 py-1"><span class="mx-auto"></span></div>
					<p class="text-small mb-2">If you want a LinkedIn expert who will give you RESULTS rather than “how many people are in my network” ego boost then you need to speak to Martin.</p>
					<p class="mb-0"><a href="https://www.linkedin.com/in/peteradriangregory" class="text-white" target="_blank" aria-label="LinkedIn" rel="noreferrer"><i class="fa fa-linkedin-square mr-2"></i> @peteradriangregory</a></p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card testimonial-card bg-primary p-4 text-center">
					<picture>
						<source srcset="/img/testimonials/brendanmurphy.webp" type="image/webp"/> 
						<source srcset="/img/testimonials/brendanmurphy.png" type="image/png"/> 
						<img src="/img/testimonials/brendanmurphy.png" type="image/png" alt="Brendan Murphy - The Growth Company testimonial image" width="136" height="136" class="lazy"/>
					</picture>
					<p class="text-large mb-0 mt-3"><b>Brendan Murphy</b></p>
					<div class="line my-2 py-1"><span class="mx-auto"></span></div>
					<p class="text-small mb-2">I feel one always needs to sharpen their social media pencil, and no one better than Martin to help. His no nonsense, straight to the point approach is a breath of fresh air.</p>
					<p class="mb-0"><a href="https://www.linkedin.com/in/brendanmurph" class="text-white" target="_blank" aria-label="LinkedIn" rel="noreferrer"><i class="fa fa-linkedin-square mr-2"></i> @brendanmurph</a></p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card testimonial-card bg-primary p-4 text-center">
					<picture>
						<source srcset="/img/testimonials/czarina-sheikh-mathew.webp" type="image/webp"/> 
						<source srcset="/img/testimonials/czarina-sheikh-mathew.png" type="image/png"/> 
						<img src="/img/testimonials/czarina-sheikh-mathew.png" type="image/png" alt="Czarina Sheikh Mathew - The Growth Company testimonial image" width="136" height="136" class="lazy"/>
					</picture>
					<p class="text-large mb-0 mt-3"><b>Czarina Sheikh Mathew</b></p>
					<div class="line my-2 py-1"><span class="mx-auto"></span></div>
					<p class="text-small mb-2">It was refreshing to learn from an expert who so generously shares insights and provides bespoke recommendations on the latest tools to improve your online presence.</p>
					<p class="mb-0"><a href="https://uk.linkedin.com/in/czarina-sheikh-mathew" class="text-white" target="_blank" aria-label="LinkedIn" rel="noreferrer"><i class="fa fa-linkedin-square mr-2"></i> @czarina-sheikh-mathew</a></p>
				</div>
			</div>
		</div>
		<div class="row d-lg-none">
			<div id="testimonials-carousel" class="col-12">
				<carousel :items="1" :margin="15" :center="false"  :autoHeight="true" :autoWidth="true" :nav="false" :dots="true">
		      <div class="card testimonial-card bg-primary p-4 text-center">
					<picture>
						<source srcset="/img/testimonials/petergregory.webp" type="image/webp"/> 
						<source srcset="/img/testimonials/petergregory.png" type="image/png"/> 
						<img src="/img/testimonials/petergregory.png" type="image/png" alt="Peter Gregory - The Growth Company testimonial image" width="136" height="136" class="lazy mx-auto"/>
					</picture>
					<p class="text-large mb-0 mt-3"><b>Peter Gregory</b></p>
					<div class="line my-2 py-1"><span class="mx-auto"></span></div>
					<p class="text-small mb-2">If you want a LinkedIn expert who will give you RESULTS rather than “how many people are in my network” ego boost then you need to speak to Martin.</p>
					<p class="mb-0"><a href="https://www.linkedin.com/in/peteradriangregory" class="text-white" target="_blank" aria-label="LinkedIn" rel="noreferrer"><i class="fa fa-linkedin-square mr-2"></i> @peteradriangregory</a></p>
				</div>
		      <div class="card testimonial-card bg-primary p-4 text-center">
						<picture>
							<source srcset="/img/testimonials/brendanmurphy.webp" type="image/webp"/> 
							<source srcset="/img/testimonials/brendanmurphy.png" type="image/png"/> 
							<img src="/img/testimonials/brendanmurphy.png" type="image/png" alt="Brendan Murphy - The Growth Company testimonial image" width="136" height="136" class="lazy mx-auto"/>
						</picture>
						<p class="text-large mb-0 mt-3"><b>Brendan Murphy</b></p>
						<div class="line my-2 py-1"><span class="mx-auto"></span></div>
						<p class="text-small mb-2">I feel one always needs to sharpen their social media pencil, and no one better than Martin to help. His no nonsense, straight to the point approach is a breath of fresh air.</p>
						<p class="mb-0"><a href="https://www.linkedin.com/in/brendanmurph" class="text-white" target="_blank" aria-label="LinkedIn" rel="noreferrer"><i class="fa fa-linkedin-square mr-2"></i> @brendanmurph</a></p>
					</div>
		      <div class="card testimonial-card bg-primary p-4 text-center">
						<picture>
							<source srcset="/img/testimonials/czarina-sheikh-mathew.webp" type="image/webp"/> 
							<source srcset="/img/testimonials/czarina-sheikh-mathew.png" type="image/png"/> 
							<img src="/img/testimonials/czarina-sheikh-mathew.png" type="image/png" alt="Czarina Sheikh Mathew - The Growth Company testimonial image" width="136" height="136" class="lazy mx-auto"/>
						</picture>
						<p class="text-large mb-0 mt-3"><b>Czarina Sheikh Mathew</b></p>
						<div class="line my-2 py-1"><span class="mx-auto"></span></div>
						<p class="text-small mb-2">It was refreshing to learn from an expert who so generously shares insights and provides bespoke recommendations on the latest tools to improve your online presence.</p>
						<p class="mb-0"><a href="https://uk.linkedin.com/in/czarina-sheikh-mathew" class="text-white" target="_blank" aria-label="LinkedIn" rel="noreferrer"><i class="fa fa-linkedin-square mr-2"></i> @czarina-sheikh-mathew</a></p>
					</div>
				</carousel>
			</div>
		</div>
	</div>
</template>
<script>
	import carousel from 'vue-owl-carousel';
	export default {
		components: { 
	  	carousel
	  },
	  data() {
			return {
				errors: {},
				success: false,
				loaded: true,
			}
		}
	}
</script>
<style lang="scss">
	.testimonial-card{
		img{
			margin-top: -100px;
		}
		a{
			&:hover{
        color: #0082B9;
      }
		}
	}
	#testimonials-carousel{
		.card {
	  	position: relative;
	  	width: calc(100vw - 3rem);
	  	img{
	  		width: 136px;
	  	}
		}
		.owl-carousel .owl-stage-outer{
			overflow: visible !important;
		}
		.owl-theme{
			.owl-dots{
			  width: 170px;
		    position: absolute;
		    bottom: -4rem;
		    left: calc(50% - 85px);
		    text-align: center;
			  .owl-dot{
					span{
						width: 30px;
				    height: 8px;
				    background: transparent;
				    border-radius: 0;
				    margin: 5px 2px;
				    border-bottom: 4px solid #fff;
					}
					&.active{
						span{
				    	border-bottom: 4px solid #0082B9;
						}
					}
				}
			}
		}	
	}
</style>