<template>
  <header id="home-header" class="container-fluid position-relative full-height home-top bg bg-down-up z-1">
    <picture>
      <source srcset="/img/graphics/globe.webp" type="image/webp"/> 
      <source srcset="/img/graphics/globe.png" type="image/png"/> 
      <img src="/img/graphics/globe.png" type="image/png" alt="The Growth Company globe" width="1102" height="1095" class="globe h-auto"/>
    </picture>
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mob-px-4">
            <div class="d-table w-100 full-height">
              <div class="d-table-cell align-middle w-100 h-100 text-center text-lg-left">
                <h1 class="mb-0">Ireland’s Leading LinkedIn Training & Consulting Company</h1>
                <div class="line line-primary my-4 text-left"><span class="ml-0 mob-mx-auto"></span></div>
                <p class="text-large pr-5 mob-px-0 mb-4">Scaling your business for the digital buyer.</p>
                <a href="/services">
                  <button class="btn btn-primary btn-icon mob-mb-5" data-aos="fade-in-up">View Services <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
<style lang="scss" scoped>
  #home-header{
    min-height: 768px;
    .globe{
      position: absolute;
      top: 100px;
      left: 50%;
    }
    .full-height{
      min-height: 768px;
      height: calc(100vh - 100px) !important;
    }
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) {
   
  }
  @media only screen 
  and (max-width : 767px){
    #home-header{
      min-height: 0px;
      .globe{
        top: 0;
        height: 100% !important;
        width: auto;
        opacity: 0.8;
      }
      h1{
        margin-top: -50px;
      }
    }
  }
  @media only screen 
  and (max-width : 320px){

  }
</style>