<template>
	<div id="services-carousel" class="col-12">
		<carousel id="services-carousel-carousel" :items="1" :margin="15" :center="false"  :autoHeight="true" :autoWidth="true" :nav="false" :dots="true">
      <div class="card bg-primary p-3" data-aos="fade-up" data-aos-delay="200">
        <p class="mb-0 text-large line-height-1-3"><b>LinkedIn <br/>Training</b></p>
        <div class="line my-2 py-1 ml-0"><span class="ml-0"></span></div>
        <p class="line-height-1-3">Virtual training designed to enable you to master LinkedIn to get increased referrals, appointments and sales.</p>
        <p class="mb-0"><b><a href="/services/linkedin-training">Read more</a></b><i class="fa fa-angle-double-right ml-3" aria-hidden="true"></i></p>
      </div>
      <div class="card bg-primary p-3" data-aos="fade-up" data-aos-delay="300">
        <p class="mb-0 text-large line-height-1-3"><b>Sales Navigator <br/>Training</b></p>
        <div class="line my-2 py-1 ml-0"><span class="ml-0"></span></div>
        <p class="line-height-1-3">Maximise your LinkedIn Sales Navigator investment, engage more prospects and connect with decision makers.</p>
        <p class="mb-0"><b><a href="/services/sales-navigator-training">Read more</a></b><i class="fa fa-angle-double-right ml-3" aria-hidden="true"></i></p>
      </div>
      <div class="card bg-primary p-3" data-aos="fade-up" data-aos-delay="400">
        <p class="mb-0 text-large line-height-1-3"><b>Social Selling<br/>Workshops</b></p>
        <div class="line my-2 py-1 ml-0"><span class="ml-0"></span></div>
        <p class="line-height-1-3">Confidently use LinkedIn to prospect better, advance pipeline opportunities and close deals fast.</p>
        <p class="mb-0"><b><a href="/services/social-selling-workshops">Read more</a></b><i class="fa fa-angle-double-right ml-3" aria-hidden="true"></i></p>
      </div>
      <div class="card bg-primary p-3" data-aos="fade-up" data-aos-delay="500">
        <p class="mb-0 text-large line-height-1-3"><b>Social Selling <br/>Excellence</b></p>
        <div class="line my-2 py-1 ml-0"><span class="ml-0"></span></div>
        <p class="line-height-1-3">For business owners who want to master LinkedIn social selling to increase referrals, appointments, and sales.</p>
        <p class="mb-0"><b><a href="/services/social-selling-excellence">Read more</a></b><i class="fa fa-angle-double-right ml-3" aria-hidden="true"></i></p>
      </div>
      <div class="card bg-primary p-3" data-aos="fade-up" data-aos-delay="500">
        <p class="mb-0 text-large line-height-1-3"><b>Social Selling <br/>Exterprise</b></p>
        <div class="line my-2 py-1 ml-0"><span class="ml-0"></span></div>
        <p class="line-height-1-3">Live webinars for remote sales teams to confidently use LinkedIn to prospect and advance pipeline opportunities.</p>
        <p class="mb-0"><b><a href="/services/social-selling-enterprise">Read more</a></b><i class="fa fa-angle-double-right ml-3" aria-hidden="true"></i></p>
      </div>
      <div class="card bg-primary p-3" data-aos="fade-up" data-aos-delay="500">
        <p class="mb-0 text-large line-height-1-3"><b>Social Selling <br/>Enablement</b></p>
        <div class="line my-2 py-1 ml-0"><span class="ml-0"></span></div>
        <p class="line-height-1-3">A structured enablement programme to help you kickstart Social Selling from within your organisation.</p>
        <p class="mb-0"><b><a href="/services/social-selling-enablement">Read more</a></b><i class="fa fa-angle-double-right ml-3" aria-hidden="true"></i></p>
      </div>
      <div class="card bg-primary p-3" data-aos="fade-up" data-aos-delay="600">
        <p class="mb-0 text-large line-height-1-3"><b>Social Media<br/>Managed Services</b></p>
        <div class="line my-2 py-1 ml-0"><span class="ml-0"></span></div>
        <p class="line-height-1-3">LinkedIn content planning can be overwhelming and time-consuming, so let us do the heavy lifting.</p>
        <p class="mb-0"><b><a href="/services/social-media-managed-services">Read more</a></b><i class="fa fa-angle-double-right ml-3" aria-hidden="true"></i></p>
      </div>
		</carousel>
	</div>
</template>
<script>
	import carousel from 'vue-owl-carousel';
	export default {
		components: { 
	  	carousel
	  },
	  data() {
			return {
				errors: {},
				success: false,
				loaded: true,
			}
		},
	}
</script>
<style lang="scss">
#services-carousel{
	width: 100%;
	.card {
  	position: relative;
	  width: 285px;
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible !important;
	}
	.owl-theme{
		.owl-dots{
		  width: 170px;
	    position: absolute;
	    bottom: -6rem;
	    left: 0;
	    text-align: left;
		  .owl-dot{
				span{
					width: 30px;
			    height: 8px;
			    background: transparent;
			    border-radius: 0;
			    margin: 5px 2px;
			    border-bottom: 4px solid #fff;
				}
				&.active{
					span{
			    	border-bottom: 4px solid #0082B9;
					}
				}
			}
		}
	}	
}

@media only screen and (max-width : 768px){
	#services-carousel{
		.card{
			width: calc(80vw - 1.5rem);
			p.text-large{
				font-size: 6vw;
			}
		}
		.owl-theme .owl-dots{
	    margin: auto;
			width: 150px;
			bottom: -3.5rem;
    	left: calc(50% - 75px);
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
	}
}
</style>