<template>
	<div>
		<div id="main-menu" class="menu">
      <div class="container-fluid px-5 mob-px-3 ipadp-px-3">
        <div class="row">
          <div class="col-lg-2 py-3 page-home-pt-0">
            <a href="/">
              <img src="/img/logos/logo.svg" class="menu_logo mt-2 mob-mt-0" alt="The Growth Company Logo" width="276" height="64" />
            </a>
          </div>
          <div class="col-lg-10 text-right d-none d-lg-block mt-4 pt-2">
            <div class="menu-links d-inline-block">
              <a href="/services" class="menu-item cursor-pointer">Services</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/case-studies" class="menu-item cursor-pointer">Case Studies</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/about" class="menu-item cursor-pointer">About</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/blog" class="menu-item  cursor-pointer">Blog</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/contact" class="menu-item cursor-pointer">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
		<div id="scroll-menu" class="menu d-none d-lg-block">
      <div class="container-fluid px-5">
        <div class="row">
          <div class="col-lg-2 py-3">
            <a href="/">
              <img src="/img/logos/logo.svg" class="menu_logo" alt="The Growth Company Logo" width="276" height="64" />
            </a>
          </div>
          <div class="col-lg-10 text-right d-none d-lg-block py-3">
            <div class="menu-links d-inline-block ">
              <a href="/services" class="menu-item cursor-pointer">Services</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/case-studies" class="menu-item cursor-pointer">Case Studies</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/about" class="menu-item cursor-pointer">About</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/blog" class="menu-item  cursor-pointer">Blog</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/contact" class="menu-item cursor-pointer">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props:{
      pagetype: String
    },
    mounted(){
      $(document).ready(function(){
        $('#menu-trigger').each(function(index, element){
              var inview = new Waypoint({
                element: element,
                handler: function (direction) {
                  if(direction === "down"){
                    $('#scroll-menu').addClass('on');
                  }else{
                    $('#scroll-menu').removeClass('on');
                  }
                },offset: '0%'
              });
            });
        var lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy"
        });
        $(".scroll-btn").click(function(){
          $('html,body').animate({
             scrollTop: $(".scrollTo").offset().top
          });
        });
      });
    }
  }
</script>
<style lang="scss">
$primary: #0082B9; 
$darkgrey: #040F17;
$white: #fff;
$title: ff-zwo-corr-web-pro, sans-serif;
$body: roboto, sans-serif;
@mixin menuBoxShadow(){
  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1) !important;
}
.menu-holder{
  position: relative;
  z-index: 100;
}
#menu-trigger{
  position: absolute;
  top: 110vh;
  left: 0;
  width: 1px;
  height: 1px;
}
#main-menu-top{
  z-index: 250;
}
#main-menu{
  position: absolute;
  top: 0;
  left: 0;
}
.menu{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  .menu_logo{
    width: 220px;
    &.menu_logo_normal{
      width: 220px;
    }
  }
  .menu-links{
    .menu-item{
      display: inline-block;
      margin-left: 2.5rem;
      cursor: pointer;
      color: $white;
      font-family: $body;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 1rem;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease ;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      a{
        color: $white;
        &:hover{
          color: $primary;
        }
      }
      i{
        font-size: 1.2rem;
        margin-left: 10px;
      }
      &:hover,
      &.active{
        color: $primary;
      }
    }
  }
  .menu-top-links{
    .menu-links{
      .menu-item{
        font-size: 0.8rem;
      }
    }
  }
  &.opacity{
    opacity: 0;
  }
}
#scroll-menu{
  background-color: $darkgrey;
  position: fixed;
  top: -500px;
  left: 0;
  z-index: 200;
  width: 100%;
  box-shadow: 0rem 0rem 1rem rgba(0, 130, 184, 0.1) !important;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  .menu-links{
    .menu-item{
      color: $white;
    }
  }
  .col-lg-10 {
    margin-top:19px !important;
  }
  .menu_logo{
    width: 170px;
  }
  &.on{
    top: 0;
  }
}
@media only screen and (max-width : 1230px){
  .menu .menu-links .menu-item{
    margin-left: 1.5rem;
    font-size: 0.8rem;
  }
}
// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  #scroll-menu,
  .menu{
    .menu-links{
      .menu-item{
        &:hover{
          box-shadow: none;
        }
      }
    }
    .menu_logo {
      width: 140px;
      margin-top: 15px !important;
    }
  }
  #menu_btn{
    display: block;
  }
}
@media only screen and (max-width : 767px){
  .menu .menu_logo {
    width: 170px;
  }
}
</style>